@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
*{
  font-family: 'Roboto', sans-serif;
}
body{
  min-width: 1024px;
}
.wrapper{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #62B6CB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionCard{
  box-sizing: border-box;
  width: 900px;
  padding: 40px;
}
.question{
  margin: 0 auto;
  font-style: 'Roboto' sans-serif;
  font-size: 20pt;
  color: white;
}
.answers{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.answerInline{
  color: white;
  display: inline-block;
  margin: 0 30px;
  padding: 10px 30px;
  border: 5px solid white;
  border-radius: 100px;
}
.answerInline:hover{
  border: 5px solid black;
  background-color: black;
}
#question1{
  display: none;
}
