@font-face {
  font-family: "Gilroy"; /* Имя шрифта */
  src: url(../fonts/Gilroy-Regular.woff); /* Путь к файлу со шрифтом */
}
@font-face {
   font-family: "GilroyMedium"; /* Имя шрифта */
   src: url(../fonts/Gilroy-Medium.woff); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "GilroyBold"; /* Имя шрифта */
  src: url(../fonts/Gilroy-Bold.woff); /* Путь к файлу со шрифтом */
 }
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
}
input
{outline:none;}
body{
  min-width: 1024px;
}
::-webkit-scrollbar {
display: none;
}
.logo{
  position: absolute;
  font-family: 'GilroyBold', sans-serif;
  font-size: 22pt;
  font-weight: 700;
  color: white;
  top: 40px;
  left: 60px;
  letter-spacing: 0.15em;
}
.logo a:visited{
  color: white;
}
.logo a{
  color: white;
}
.wrapper{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description{
  width: 100%;
  background-color: white;
  display: none;
  justify-content: center;
}
.introCard{
  box-sizing: border-box;
  width: 960px;
  padding: 40px;
}
.questionCard{
  box-sizing: border-box;
  width: 780px;
  padding: 40px;
}
.introBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
}
.introBlock img{
  width: 281px;
  height: 223px;
}
.introBlock p{
  font-family: 'Gilroy', sans-serif;
  line-height: 18pt;
  font-weight: 600;
  color: white;
  font-size: 14pt;
  width: 500px;
}
.buttonBlock{
  display: flex;
  justify-content: space-around;
}
.introButton{
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  font-size: 18pt;
  color: white;
  width: 220px;
  padding: 10px 10px;
  border: 2px solid white;
  border-radius: 100px;
  margin-top: 130px;
}
.introButton:hover{
  border: 2px solid white;
  background-color: white;
  color: black;
}
#toBlock{
  display: block;
}
.resultCard{
  box-sizing: border-box;
  width: 900px;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.resultCard p{
  margin: auto;
  display: block;
  font-family: 'Gilroy';
  font-size: 50pt;
}
.question{
  text-align: center;
  margin: 0 auto;
  font-family: 'GilroyMedium', sans-serif;
  font-size: 20pt;
  font-weight: 600;
  color: white;
}
.answers{
  font-family: 'Gilroy', sans-serif;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
}
.answerInline{
  font-size: 14pt;
  color: white;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 100px;
}
.answerInline:hover{
  border: 2px solid white;
  background-color: white;
  color: black;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.text{
  width: 960px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.text:first-of-type{
  margin-top: 150px;
}
.text img{
  width: 300px;
  height: 300px;
}
.text p{
  font-family: 'Gilroy';
  font-size: 14pt;
  color: black;
  width: 600px;
}
.text h1{
  font-family: 'GilroyMedium';
  width: 100%;
  font-weight: 600;
  font-size: 40pt;
  margin-bottom: 50px;
}
.marginCenter{
  margin: 100 auto;
}
.toFormButton{
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  font-size: 18pt;
  color: black;
  width: 220px;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 100px;
  margin-left: 360px;
}
.toFormButton:hover{
  border: 2px solid black;
  background-color: black;
  color: white;
}
.moreCourses{
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  font-size: 18pt;
  color: black;
  width: 220px;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 100px;
  margin-left: 80px;
}
.moreCourses:hover{
  border: 2px solid black;
  background-color: black;
  color: white;
}
.reviews{
  margin: 150px auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reviews h1{
  font-family: 'GilroyMedium';
  width: 100%;
  font-weight: 600;
  font-size: 40pt;
  margin-bottom: 50px;
}
.reviewCard{
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviewCard p{
  font-family: 'Gilroy';
  font-size: 16pt;
}
.reviewCard img{
  width: 270px;
  height: 270px;
  margin: 70px auto 40px;
}
.reviewCard h5{
  font-family: 'Gilroy';
  font-size: 14pt;
  text-align: center;
  line-height: 18pt;
}
.reviesPhoto{
}
.form{
  width: 960px;
  margin: 150 auto 200;
  display: flex;
  flex-flow: column;
}
.form h1{
  font-family: 'GilroyMedium';
  width: 100%;
  font-weight: 600;
  font-size: 40pt;
  margin-bottom: 100px;
  color: white;
}
.form input{
  width: 400px;
  display: block;
  font-family: 'Gilroy', sans-serif;
  font-size: 14pt;
  color: white;
  padding: 10px 10px;
  text-align: center;
  border: 2px solid white;
  background-color: black;
  border-radius: 100px;
  margin-top: 15px;
}
.form button{
  display: block;
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  font-size: 18pt;
  color: white;
  width: 220px;
  padding: 10px 10px;
  border: 2px solid white;
  border-radius: 100px;
  margin-top: 50px;
  background-color: black;
}
.form button:hover{
  color: black;
  border: 2px solid white;
  border-radius: 100px;
  background-color: white;
}
.copyright{
  font-family: 'Gilroy', sans-serif;
  font-size: 8pt;
  color: white;
  margin: 20px 20px;
}
.bgBlack{
  background-color: black;
}
#question1{
  display: none;
}
#question2{
  display: none;
}
#question3{
  display: none;
}
#question4{
  display: none;
}
#question5{
  display: none;
}
#designer{
  color: white;
  display: none;
}
#programmer{
  color: white;
  display: none;
}
#copywriter{
  color: white;
  display: none;
}
#blue{
  color: #4ba4ff;
}
#violete{
  color: #b95fff;
}
#orange{
  color: #e9b95b;
}
#desButton{
  display: none;
}
#proButton{
  display: none;
}
#copButton{
  display: none;
}
